<h1>¿Cómo actualizar {{nombre}}?</h1>

<p>Para actualizar {{nombre}} tienes que seguir
   estos pasos</p>


<p>Abrir el terminal</p>

<p>Luego ejecutá los siguientes comandos</p>



<pre>
  sudo apt-get update

  sudp apt-get install {{nombre}}
</pre>

{{outlet}}
