<h2>Uh, algo salió mal ...</h2>

<div class='alert alert-danger'>Lo siento, el paquete solicitado
  no se encuentra en nuestro repositorio ...</div>


<p>{{#link-to "index"}}&larr;  Volver a la página principal{{/link-to}}</p>
