<div class="row">
  <div class="col-lg-8">
    <h1>Huayra Tips</h1>

    <p class="lead">Una serie de tutoriales y
      artículos breves.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">

    <div class="alert alert-dismissible alert-warning">
      <h4>Importante</h4>
      <p>
      Este sitio es de uso interno, nos permite documentar
      el proceso de actualización del sistema y sus
      aplicaciones.
      </p>
    </div>

    <p>Estos son algunos ejemplos de páginas
      internas:</p>


    <ul>
      <li>{{#link-to "actualizar" "huayra-mu"}}huayra-mu{{/link-to}}</li>
      <li>{{#link-to "actualizar" "huayra-compartir"}}huayra-compartir{{/link-to}}</li>
      <li>{{#link-to "actualizar" "huayra-stopmotion"}}huayra-stopmotion{{/link-to}}</li>
      <li>{{#link-to "actualizar" "huayra-caripela"}}huayra-caripela{{/link-to}}</li>
    </ul>

  </div>
</div>
